
<link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">

<div id="helpContainer" style="display: block; font-size: 14px; line-height: 18px; font-family: Poppins, arial, sans-serif; background: white; color: #616a66; font-weight: 400; font-style: normal; position: relative; top: -115px; left: 400px; width: 520px; border: 1px solid #6cbd10; padding: 6px; box-shadow: 2px 2px 3px 3px rgba(27, 17, 17, 0.2);">
In dit spel oefen je met de vorkheftruck. Gebruik de pijltjesknoppen om naar voren of achter te rijden. Y en X voor tilt, B en A om de lepels omhoog of omlaag te bewegen.
</div>
<script>
    window.toggleHelp = function() {
        var container = document.querySelector("#helpContainer");
        container.style.display = container.style.display === 'block' ? 'none' : 'block';
    }
</script>